.carousel {
      z-index: -99;
    }
    /* keeps this behind all content */
    
    .carousel .item {
      position: fixed;
      width: 100%;
    
      /*-webkit-transition: fade 4s  ease-in-out;
      -moz-transition: fade 4s  ease-in-out;
      -ms-transition: fade 4s  ease-in-out;
      -o-transition: fade 4s  ease-in-out;*/
      transition-duration: 4s;
      opacity: 0.5;
    }
       
    .carousel .active.left {
      left: 0;
      opacity: 0;
      z-index: 2;
    }
    
    .img-Carousel{
      background-size: cover;
      -moz-background-size: cover;
    }

    .carousel-control.left{
      background-image:linear-gradient(to right,rgba(0, 0, 0, 0) 0,rgba(0,0,0,.0001) 100%);
    }

    .carousel-control.right{
      background-image:linear-gradient(to right,rgba(0, 0, 0, 0) 0,rgba(0,0,0,.0001) 100%);
    }
